# usage
# export ANSIBLE_TF_DIR=../terraform/ && ansible-playbook --vault-id ~/.ansible_vault_pass.txt -i /etc/ansible/terraform.py cache_server.yml -e "target_env=staging rev=`git log -1 --pretty='%h'`"

# Locally register inventory hosts
- hosts: 'localhost'
  connection: 'local'
  gather_facts: yes
  roles:
  - { role: 'shared/build_platform' }

- hosts: "&{{ target_env }}:&cache-server"
  remote_user: "root"
  become: 'yes'
  roles:
  - { role: 'geerlingguy.java', when: "ansible_os_family == 'Debian'", java_packages: ['openjdk-8-jdk']}
  - { role: 'shared/deploy_backend', backend_name: 'cache', backend_role: 'server'}
  - { role: 'cache/upgrade_backend', backend_name: 'cache', backend_role: 'server'}

