[Unit]
Description=Systemd service for {{backend}}-server
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=10
StartLimitInterval=0

ExecStart={{ platform_home_dir }}/{{ backend }}-server.jar --spring.config.location={{ platform_home_dir }}/{{ backend }}-server.properties --spring.hazelcast.config={{ platform_home_dir }}/{{ backend }}-server.xml

[Install]
WantedBy=multi-user.target
