logging:
  level:
    ROOT: INFO

spring:
  rabbitmq:
    host: rabbitmq.service.consul
    port: {{ rabbitmq.port }}
    username: {{ rabbitmq.user }}
    password: {{ rabbitmq.password }}
  main:
    web-application-type: NONE

queues:
  exchanges:
    - id: careassist_queues
      routes:
        - id: care_events
          key: care.events
        - id: maintenance_events
          key: maintenance.events
topics:
  exchanges:
    - id: careassist_schedules_topics
      routes:
        - id: schedules
          key: #
