logging.config={{ platform_home_dir }}/{{ backend_name }}-{{ backend_role }}-logback.xml
management.endpoints.web.exposure.include=health,info,
spring.hazelcast.config={{ platform_home_dir }}/{{ backend_name }}-{{ backend_role }}.xml
