logging:
  config: {{ platform_home_dir }}/{{ backend_name }}-{{ backend_role }}-logback.xml

management:
  endpoints:
    web:
      exposure:
        include: health,info,loggers

spring:
  rabbitmq:
    host: rabbitmq.service.consul
    port: {{ rabbitmq.port }}
    username: {{ rabbitmq.user }}
    password: {{ rabbitmq.password }}
