domain: "agileinfra.io"

htpasswd_path: '/etc/nginx/passwdfile'

# systemd shared vars
service_startup_timeout: 60
servicename: 'careassist'

# consul shared vars
architecture_map:
  # this first entry seems redundant
  # (but it's required for reasons)
  amd64: 'amd64'
  x86_64: 'amd64'
  armv6l: 'arm'
  armv7l: 'arm'
  aarch64: 'arm64'
  32-bit: '386'
  64-bit: 'amd64'
os_architecture: "{{ architecture_map[ansible_architecture] }}"
os_family: "\
  {% if ansible_os_family == 'Windows' %}\
    {{ 'windows' }}\
  {% else %}\
    {{ ansible_system | lower }}\
  {% endif %}"

consul_product: 'consul'
consul_version: '1.5.1'
consul_download_dir: '/tmp/{{ consul_product }}/downloads'

consul_os_packages: ['unzip']
consul_checksum_file_url: "https://releases.hashicorp.com/{{ consul_product }}/{{ consul_version }}/{{ consul_product }}_{{ consul_version}}_SHA256SUMS"
consul_pkg: "{{ consul_product }}_{{ consul_version }}_{{ os_family }}_{{ os_architecture }}"
consul_zip_url: "https://releases.hashicorp.com/{{ consul_product }}/{{ consul_version }}/{{ consul_pkg }}.zip"
cockroachdb_local_certs_dir: "{{ cockroachdb_download_dir }}/certs"
cockroach_users: ["root", "{{ servicename }}"]

service_password: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    34356131633164313534383632653231653430303335333165363834653461333264356663616362
    6233656465616333663931356665616630376336626463360a623166376538646438376539353063
    32633366653535643266316361313037626434353033376631363932396364633937386261393430
    6231643561393163360a666362386562333134326661643461393636376639336263336634666232
    3537

cockroachdb_service_password: "{{ service_password }}"

cockroachdb_product: 'cockroach'
cockroachdb_version: '19.1.1'

cockroachdb_pkg: "{{ cockroachdb_product }}-v{{ cockroachdb_version}}.{{ os_family }}-{{ os_architecture }}"
cockroachdb_tgz_url: "https://binaries.cockroachdb.com/{{ cockroachdb_pkg }}.tgz"
cockroachdb_download_dir: "/tmp/{{ cockroachdb_product }}/downloads"

# local platform build
platform_build_dir: '/tmp/platform_builds'
platform_clone_dir: '{{ platform_build_dir }}/{{ rev }}'
platform_repo: 'git@github.com:lgueye/ha-playground.git'

platform_deploy_home_dir: '/var/platform/deployments/{{ rev }}'
platform_home_dir: '/var/platform/current'

platform_log_root_dir: '/var/log/platform'
app_logging_level: 'INFO'
root_logging_level: 'WARN'

backends:
  - cache: {impl: 'hazelcast'}
